@model Ch24ShoppingCartMVC.Models.ProductViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestView</title>
</head>
<body>
    <div>
        Selected Product Id: @Model.ProductID <br />
        Selected Product Name: @Model.Name <br />
        Selected Product Qty: @Model.Quantity <br />
    </div>
</body>
</html>
